venv/
logs/
logs/sistema.log
cli/__pycache__/
core/__pycache__/
modulos/__pycache__/
utils/__pycache__/
settings.json
config/default.yaml
dados/
relatorios/*.html
relatorios/__pycache__/
historico_ia/__pycache__/
infra/__pycache__/
temp/
*.xml